body {
  font-family: 'Noto Sans KR', sans-serif !important;
  background-color: #efefef !important;
  color: #000 !important;
}

.MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3, .MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6, .MuiTypography-body2, .MuiTypography-body1, .MuiButton-root, .MuiButton-caption {
  font-family: 'Noto Sans KR', sans-serif !important;
}

button:focus {
  /* outline: ; */
  outline: none;
}

/* Input Fields */

.navCustom .MuiOutlinedInput {
  background-color: #efefef;
  height: 46px;
  width: auto;
  margin-top: 5px;
}

.navCustom .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* Input Fields */

.image-gallery-content .image-gallery-slide .image-gallery-image{
  margin-bottom: 20px;
}